@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  height: 10vh;
  align-items: center;
}
h2 {
  padding-left: 7.5%;
}
/* Corta quando faz o resize da tela */
nav {
  justify-content: space-evenly;
  display: flex;
  border: solid red;
  margin-left: 60%;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-left: 1rem;
}

.banner {
  color: white;
  display: flex;
  width: device-width;
  height: 80vh;
}
.banner h1 {
  display: flex;
  position: absolute;
  font-weight: bold;
  top: 35vh;
  left: 7.5%;
  font-size: 3.5vw;
}
.banner spam {
  display: flex;
  position: absolute;
  top: 50vh;
  left: 7.5%;
  font-size: 1.5vw;
}
.banner img {
  background-image: url("assets/laranja azul recorte.png");
  width: 100%;
  margin-top: 3%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: bold;
}

.container {
  margin: 5% 7.5% 5% 7.5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.box {
  margin-bottom: 1vw;
  margin-right: 1vw;
  height: 20vw;
}
.box img {
  width: 20vw;
}
/* como usa uma imagem sgv - as vezes aparece na tela outras vz nao */
.footer-initial {
  height: 15vh;
  background-image: url("/assets/Grupo\ 10.svg");
  background-size: 100% 100%;
}
.footer-mobile {
  display: none;
}
@media (max-width: 782px) {
  nav {
    display: none;
  }
  /* imagem cortada */
  .banner img {
    background-image: url("/assets/mobile/laranja azul recorte.png");
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
  }

  /* icone nao esta aparecendo */
  .menu {
    width: 20vw;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-image: "fa fa-bars";
    background-color: black;
  }
  i {
    color: white;
  }

  .footer-initial {
    display: none;
  }

  /* Porq aqui a margin nao funciona?*/
  .footer-mobile {
    display: inline;
    /* margin: 5% 7.5% 5% 7.5%; */
  }
  .footer-mobile ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #7fdbd4;
    padding: 1rem;
    margin: 5% 7.5% 5% 7.5%;
  }
  .copyright {
    margin: 5% 7.5% 0 7.5%;
    display: flex;
  }

  .btn-top {
    display: flex;
    background-color: #333333;
    color: grey;
  }
}
