@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  height: 10vh;
  align-items: center;
}
h2 {
  padding-left: 7.5%;
}
/* Corta quando faz o resize da tela */
nav {
  justify-content: space-evenly;
  display: flex;
  border: solid red;
  margin-left: 60%;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-left: 1rem;
}

.banner {
  color: white;
  display: flex;
  width: device-width;
  height: 80vh;
}
.banner h1 {
  display: flex;
  position: absolute;
  font-weight: bold;
  top: 35vh;
  left: 7.5%;
  font-size: 3.5vw;
}
.banner spam {
  display: flex;
  position: absolute;
  top: 50vh;
  left: 7.5%;
  font-size: 1.5vw;
}
.banner img {
  background-image: url("assets/laranja azul recorte.png");
  width: 100%;
  margin-top: 3%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: bold;
}

.container {
  margin: 5% 7.5% 5% 7.5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.box {
  margin-bottom: 1vw;
  margin-right: 1vw;
  height: 20vw;
}
.box img {
  width: 20vw;
}

footer {
  height: 15vh;
  background-image: url("/assets/Grupo\ 10.svg");
  background-size: 100% 100%;
}

@media (max-width: 782px) {
  header {
    padding-left: 0%;
  }
  nav {
    display: none;
    overflow: hidden;
    position: relative;
  }
  .banner img {
    background-image: url("/assets/laranja azul recorte.png");
    width: 100%;
    margin-top: 3%;
  }
  .menu {
    width: 20vw;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-image: "fa fa-bars";
    background-color: black;
  }
  i {
    color: white;
  }
  figure.logo {
    float: left;
    width: 100%;
    height: 80px;
    background-color: #ff8922;
    box-sizing: border-box;
  }
}
