@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  height: 8vh;
  align-items: center;
}
h2 {
  padding-left: 7.5%;
  width: 65%;
}
nav {
  margin-right: 7.5%;
}
.menu-nav {
  width: 30rem;
  justify-content: space-evenly;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  width: 50%;
}

.banner {
  color: white;
  display: flex;
  height: 80vh;
}
.banner h1 {
  display: flex;
  position: absolute;
  font-weight: bold;
  top: 35vh;
  left: 7.5%;
  font-size: 3vw;
}
.banner spam {
  display: flex;
  position: absolute;
  top: 50vh;
  left: 7.5%;
  font-size: 1.5vw;
}
.banner img {
  background-image: url("assets/laranja azul recorte.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 60%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: bold;
}

.container {
  margin: 5% 7.5% 5% 7.5%;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}
.box {
  margin-bottom: 1vw;
  margin-right: 1vw;
  height: 20vw;
}
.box img {
  width: 20vw;
}

.footer {
  height: 15vh;
  background-color: #ccc;
  background-size: 100% 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.footer-midia {
  width: 25%;
  margin-left: 7.5%;
}

.copyright {
  margin: 0 0 0 7.5%;
  display: flex;
}
.copyright span {
  width: 55%;
  font-size: 13px;
}
.copyright-footer {
  padding: 1%;
  display: flex;
}
.btn-topo {
  display: none;
}

@media (max-width: 782px) {
  header {
    position: relative;
    height: 6vh;
  }
  nav {
    display: none;
  }

  .menu {
    width: 40%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: black;
  }
  .hamburger {
    width: 15%;
    display: block;
    float: right;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    height: 5px;
    width: 100%;
    background: white;
    margin-top: 15%;
  }

  .banner img {
    background-image: url("assets/mobile/laranja azul recorte.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .banner h1 {
    position: absolute;
    font-weight: bold;
    font-size: 12.5vw;
    top: 40%;
  }

  .banner spam {
    position: absolute;
    margin-top: 32%;
    left: 7.5%;
    font-size: 5vw;
  }

  .box {
    margin-bottom: 8vw;
    height: 100%;
    width: 100%;
  }
  .box img {
    width: 100%;
  }

  ul {
    justify-content: space-evenly;
  }

  .footer {
    display: inline;
  }
  .footer-midia {
    width: 84.5%;
  }
  .footer ul {
    background-color: #7fdbd4;
    padding: 1rem;
    margin: 5% 7.5% 5% 7.5%;
  }

  .copyright {
    margin: 0 7.5% 3% 7.5%;
    font-size: 15px;
  }

  .copyright-footer {
    margin: 0 7.5% 3% 7.5%;
    padding: 0;
  }

  .btn-topo {
    display: flex;
    background-color: #333333;
    width: 20%;
    justify-content: center;
    height: 5vh;
  }

  .btn-topo a {
    color: #ccc;
    text-decoration: none;
  }
}

@media (max-width: 450px) {
  .banner h1 {
    font-size: 12.5vw;
    top: 55%;
  }
  .banner spam {
    margin-top: 58%;
    left: 7.5%;
  }
  .copyright-footer {
    font-size: 10px;
  }
}
